from_teacher/*
from_coop/*
Misc-Copy1.ipynb
Misc-Copy2.ipynb
models_coop_old.py
models_coop_old2.py 
note_perso.txt
# Misc.ipynb
save/*
*.pt
!save/TRANSFORMER_SGD_LR_SCHEDULE_model=TRANSFORMER_optimizer=SGD_LR_SCHEDULE_initial_lr=20_batch_size=64_seq_len=35_hidden_size=512_num_layers=6_dp_keep_prob=0.9_save_best_3
save/TRANSFORMER_SGD_LR_SCHEDULE_model=TRANSFORMER_optimizer=SGD_LR_SCHEDULE_initial_lr=20_batch_size=64_seq_len=35_hidden_size=512_num_layers=6_dp_keep_prob=0.9_save_best_3/best_params.pt
TRANSFORMER_SGD_LR_SCHEDULE_model=TRANSFORMER_optimizer=SGD_LR_SCHEDULE_initial_lr=20_batch_size=64_seq_len=35_hidden_size=512_num_layers=6_dp_keep_prob=0.9_save_best_0
TRANSFORMER_SGD_LR_SCHEDULE_model=TRANSFORMER_optimizer=SGD_LR_SCHEDULE_initial_lr=20_batch_size=64_seq_len=35_hidden_size=512_num_layers=6_dp_keep_prob=0.9_save_best_1
!TRANSFORMER_SGD_LR_SCHEDULE_model=TRANSFORMER_optimizer=SGD_LR_SCHEDULE_initial_lr=20_batch_size=64_seq_len=35_hidden_size=512_num_layers=6_dp_keep_prob=0.9_save_best_2
